.Home{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    color: aliceblue;
    border: 1px solid rgb(0, 0, 0);
    background-color: #fefefe;
}
.nested_component{
    width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;

}

.show {
    display: block
}
.content{
    background-color: var(--bg);
    margin-left: 270px;
}

@media (max-width: 991px){
    .content{
        margin-left: 0;
    }
}