@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Cairo:wght@400;500;600;700&display=swap');

  :root {
        /* F36118 */
    --orange: rgb(243, 97, 24);
    --orange-rgb: 243, 97, 24;
    /* 020D29 */
    --dark-blue:rgb(2, 13, 41); 
    --dark-blue-rgb:2, 13, 41;
    /* D9D9D9 */
    --bg:rgb(245, 245, 251);
    --bg-rgb:245, 245, 251;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', serif;

  }
  .pointer{
    cursor: pointer;
  }
  .font-opacity-50{
    color: rgba(var(--dark-blue-rgb), 50%);
  }